@model MvcCRM.Models.UserSurnameViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Users" asp-action="Index">
    <p>
        <select asp-for="userSurname" asp-items="Model.surnames">
            <option value="">All</option>
        </select>
        Name: <input type="text" name="SearchString">
        <input type="submit" value="Search" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.users[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.users[0].Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.users[0].DateOfBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.users[0].Login)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.users) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
